numpy==2.2.6
pillow==11.1.0
pycocotools==2.0.10
scikit-image==0.25.2
torch==2.6.0
torchvision==0.21.0
torchmetrics==1.8.2
timm==1.0.22
mlflow==2.20.4
onnxruntime-gpu==1.23.2
onnx==1.20.0
onnxscript==0.5.7
torch_tensorrt==2.10.0
tensorrt==10.14.1.48